html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: #e2233b;
  box-shadow: 0 0 1px #343434;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.26);
}

.header_inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_inner a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.header_inner h1 {
  margin-right: auto;
  font-size: 130%;
}
.header_inner ul {
  display: flex;
}
.header_inner ul li {
  flex-grow: 1;
  margin-right: 15px;
  height: 100%;
}
.header_inner ul li:last-child {
  margin-right: 0;
}
.header_inner ul li a {
  padding: 15px 0;
  border-top: solid 1px transparent;
  border-bottom: solid 2px transparent;
}
.header_inner ul li a:hover {
  border-bottom-color: #fff;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

main {
  padding: 50px 150px;
  line-height: 1.5;
  flex-grow: 1;
}
main h1 {
  max-width: 1200px;
  margin-bottom: 20px;
  font-size: 150%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
}

.df {
  display: -webkit-flex;
  display: flex;
  border: solid 1px #000;
  padding: 10px;
  height: 350px;
  margin-bottom: 80px;
  background-color: #e9e979;
}
.df .flex_item {
  background-color: #e2233b;
  width: 120px;
  height: 120px;
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.df .flex_item:nth-child(even) {
  background-color: #3f3f3f;
}

.flex_box2 {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex_box3 {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex_box4 {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex_box5 {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex_box6 {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex_box7 {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex_box8 {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.flex_box9 {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex_box10 {
  -webkit-justify-content: center;
  justify-content: center;
}

.flex_box11 {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex_box12 {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex_box13 {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex_box14 {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex_box15 {
  -webkit-align-items: center;
  align-items: center;
}

.flex_box16 {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex_box17 {
  -webkit-align-items: baseline;
  align-items: baseline;
}
.flex_box17 .f1 {
  padding-top: 30px;
  padding-bottom: 0;
}
.flex_box17 .f2 {
  padding-top: 0;
}
.flex_box17 .f3 {
  padding-top: 60px;
  padding-bottom: 0;
}

.flex_box18 {
  -webkit-align-items: stretch;
  align-items: stretch;
}
.flex_box18 .flex_item {
  height: auto;
}

.flex_box19 {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.flex_box20 {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.flex_box21 {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

.flex_box22 {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.flex_box23 {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.flex_box24 .flex_item {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.flex_box25 {
  width: 500px;
}
.flex_box25 .flex_item {
  width: 400px;
}
.flex_box25 .f1, .flex_box25 .f3 {
  -webkit-flex-shrink: 2;
  flex-shrink: 2;
}
.flex_box25 .f2 {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}

.flex_box26 .f3 {
  -webkit-flex-basis: 300px;
  flex-basis: 300px;
}

.flex_box27 .f1 {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex_box27 .f2 {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex_box27 .f3 {
  -webkit-align-self: center;
  align-self: center;
}

.flex_box28 .f2 {
  -webkit-order: 1;
  order: 1;
}
